known_hosts
id_rsa
tls.crt
tls.key
.secrets
.envrc
.DS_Store

/vendor/
**/bin/
**/node_modules/
.pulumi
Pulumi.*.yaml
/pkg/gen/openapi-specs

generated/
generated-cluster/
generated-cluster.yaml

/right.dhall
